# Ignore Python virtual environment
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and secrets
.env
.DS_Store

# Ignore node_modules (if using React)
node_modules/
